body {
  color: #334443;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

h1 {
  font-size: 90px;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  margin: 50px auto 0 auto;
}

h3 {
  font-family: 'Montserrat' serif;
  color: #11999E;
  font-size: 1.5em;
  font-weight: 100;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 2px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #11999E;
  }


hr {
  border-style: none;
  border-top-style: dotted;
  width: 3%;
  border-color: #DEEEEA;
  border-width: 8px;
  margin: 100px auto;

}
a {
 color: #11999E;
 text-decoration: none;
}
a:hover {
  color: white;
}

p {
  line-height: 2;
}


.top-container {
  background-color: #CDF0EA;
  position: relative;
  padding-top: 150px;}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 100px;
}

.top-cloud {
  background-color: #CDF0EA;
  position: absolute;
  right: 100px;
  top: 50px;
}
.mountain {
  position: relative;
  left: 30px;
}

.middle-container{
  margin: 100px 0 100px 0;
}

.skill-row {
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.computer {
  margin-top: ;
  float: left;
  margin-right: 30px;

}
.pug {
  float: right;
  margin-right: -70px; }


.join_jnt {
  margin-top: 30px;
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -webkit-gradient(to bottom, #66BFBF, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 25px;
   line-height: 25px;
   color: #FFFFFF;
   font-family: Courier New;
   width: 250px;
   font-size: 34px;
   font-weight: 700;
   padding: 5px;
   -webkit-box-shadow: 1px 1px 20px 0 #FFFFFF;
   -moz-box-shadow: 1px 1px 20px 0 #FFFFFF;
   box-shadow: 1px 1px 20px 0 #FFFFFF;
   text-shadow: -17px 1px 20px #FFFFFF;
   border: double #66BFBF 4px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.join_jnt:hover {
   background: #CAF7E3;
   border: solid #66BFBF 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.intro{
  width: 55%;
  margin: auto;
}


.bottom-container {
  background-color: #CDF0EA;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 10px;
}

.btn {
  color: #11999E;
}

.copy{
color: white;
font-size: 0.75rem;
}

.contact-me {
  bottom: 100px;
}
